* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    --primary-color: #00e192;
    --secondary-color: #add8e6;
    --accent1-color: #000;
    --header-font: "rock salt";
    --text-font: "questrial";
}
 
body {
    margin: 0;
    background-color: var();
    padding: 5px;
}
 
header {
    background-color: var(--primary-color);
    display: grid;
    align-items: center;
    grid-template-columns: 200px auto;
    color: var(--accent1-color);
}
header img {
    height: auto;
    width: 100px;
}
 
.header__nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
 
.header__nav a {
    margin:  0 20px;
    text-decoration: none;
    font-size: 25px;
    color: var(--accent2-color);
    
}
 
h1 {
    color: #000;
    font-family: var(--header-font);
    position: absolute;
    background-color: #add8e6;
    padding: 5px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
 
.history {
    text-align: center;
    background-color: #add8e6;
    font-size: bold;
}
 
h2 {
    color: #000;
    font-family: var(--header-font);
    z-index: 1;
    text-align: center;
    top: 50%;
}
 
.hero {
    text-align: center;
    margin-top: 15px;
    position: relative;
    background-color: var(--secondary-color);
}
 
.article {
    background-color: #add8e6;
    font-family: var(--text-font);
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    padding: 10px;
    font-size: 19px;
    
}
 
.article__img {
    float: right;
    width: 100px;

}
 
.hero_img {
    width: 100%;
    height: auto;
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text1, .text2 {
    flex: 1;
    margin: 0 10px;
    font-size: 19px;
    
    
}

.text-image-container img {
    width: 350px;
    height: auto;
}



.social_media {
    justify-self: end;
    display: flex;
    gap: 10px;
    margin-right: 20px;
    text-decoration: none;
}
 
.adventure {
    display: flex;              
    flex-direction: column;     /* Stack items vertically */
    align-items: center;        /* Center items horizontally */
    text-align: center; 
    background-color:#add8e6
}
 
.adventure img {
    width: 200px;
    height: 200px;
}

.adventure_images {
    display: flex;              
    justify-content: center;    
    flex-wrap: wrap;           
    gap: 50px; 
    margin-bottom: 20px;
}

.adventure h2 {
    margin-bottom: 20px;
}

figcaption {
    font-size: 19px;
}
 
.footer {
    display: grid;  
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
    background-color: var(--primary-color);
    align-items: center;
}
 
.footer p {
    justify-self: end;
    margin: 0;
    font-size: bold;
    color: var(--accent1-color);
}
 
.footer__logo {
    width: 50px;
}