@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rock+Salt&display=swap');

:root {
    --primary-color: #a1683a;
    --secondary-color: #ffffff;
    --accent1-color: #eae0d5;
    --accent2-color: #00e192;
    --header-font: "rock salt";
    --text-font: "questrial";

}

body {
    background-color: var(--accent2-color);
    font-family: var(--text-font);
}

.logo {
    width: 100px;
    height: auto;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding-right: 20px;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 30px;
    margin-inline: 100px;
}

h1 {
    font-family: var(--header-font);
    border: 2px solid;
    background-color: var(--accent1-color);
    text-align: center;
}

.container {
    position: relative
}

.middle_header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
    text-wrap: nowrap;
    color: var(--secondary-color);
    font-size: 24px;
    text-shadow: 2px 2px 5px #000;
}

.description {
    color: var(--secondary-color);
    font-size: 20px;
    text-shadow: 2px 2px 5px #000;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
    text-align: center;
}

.buttons {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.buttons button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px #000;
}

.landscape {
    width: 100%;
}

footer {
    text-align: center;
    text-decoration: solid;
    border-top: 1px olid black;
    padding-top: 1px;
}

.footer {
    font-weight: bold;
}